extends layout/main

block content
  div.row
    div.col-md-9
      div.jumbotron
        h1 A Twitter clone using Node.js and Redis
        p The tutorial can be found <a href="http://www.selimober.com/blog/2013/09/26/a-survival-guide-for-the-node-immigrant/">here</a>.
        p Checkout the source at <a href="https://github.com/selimober/retwisn">Github</a>.

      div.col-md-6
        h4 Node.js
        p Backend is built on Node.js

        h4 Redis
        p Inspired by a <a href="http://redis.io/topics/twitter-clone">case study</a> written by Antirez.

        h4 Grunt
        p Employs Grunt for build automation and deployment tasks.

      div.col-md-6
        h4 Mocha
        p My test runner of choice

        h4 Heroku
        p Hosted on Heroku

    div.col-md-3
      form.form-signin(action='{{action}}', method='POST', ng-controller='LoginController')
        h2.form-signin-heading Please sign in
        input.form-control(type="text",placeholder="Username",autofocus,name="username")
        input.form-control(type="password",placeholder="Password",name="password")
        input#password-confirm.form-control.hide(type="password",placeholder="Password", ng-class="{hide: mode == 'in'} ")
        label.checkbox Remember me
          input(type="checkbox",value="remember-me")
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign {{mode}}
        button.btn.btn-link(type="button",ng-click="toggleMode()") Sign {{mode_link}}


