.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='http://www.selimober.com') Selim Öber
      &nbsp;2013

script(src='/assets/scripts/bootstrap.min.js')
script(src='/assets/scripts/angular.min.js')
script(src='/assets/scripts/site.js')

block footer